@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bg_light_blue {
    background-color: rgb(2, 130, 249);
}

.header-li:hover {
    border-bottom: rgb(2, 130, 249) 3px solid;

    a {
        color: rgb(2, 130, 249);
    }
}

.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.current_series {
    position: absolute;
    bottom: -5%;
    left: 20%;
}

.background_black {
    background-color: rgb(28, 28, 28);
    color: white;
}

.height {
    max-height: 50%;
}

footer {
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top_footer {
    background-image: url(../img/dc-logo-bg.png);
    background-repeat: no-repeat;
    background-position: 80% 50%;
}

.margin_left {
    margin-left: -2rem;
}

footer p a {
    color: rgb(26, 82, 212);
}

footer a {
    text-decoration: none;
    color: gray;
}

footer ul {
    list-style: none;
    color: white;
}